<div class="notify-struct" *ngIf="saque">
  <div class="notify">
    <img src="../../assets/nubank-logo-2.png" alt="">
    <div class="content">
      <p>Transfêrencia recebida</p>
      <p>Você recebeu uma transfêrencia de R${{ amount }} de Software</p>
    </div>
  </div>
</div>




<div class="ion-page" id="main-content" >
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <div class="amount">
          R$ {{ amount }}
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>



  <ion-content [fullscreen]="true" class="content">
    

  
    <div class="title">
      <h1>Tenha uma renda extra agora mesmo!</h1>
    </div>
    <div id="container">
        <img src="../../assets/icon/saque.jpg" alt="">
        <ion-button  (click)="setOpen(true)" expand="block">Iniciar Automação</ion-button>
    </div>

    <div id="img-bg">
      <img src="../../assets/icon/Galaxy.svg" alt="">
    </div>

  </ion-content>
  <ion-modal [isOpen]="isModalOpen" >
    <ng-template>
    
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-icon (click)="setOpen(false)" name="arrow-back-outline"></ion-icon>
          </ion-buttons>
          <ion-buttons slot="end">
            <div class="amount">
              R$ {{ amount }}            
            </div>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      
      <ion-content class="ion-padding" #content>
        <div class="center">
          <div class="card" *ngIf="showCard" >
           
            <img src="../../assets/Moneyverse.png" alt="">
              <p class="text-card">
                Parabens seu saldo Aumentou!,
                Clique no link abaixo e veja o tutorial de como fazer o saque
            </p>


            <div class="actions">
                <button class="button-continue" (click)="continueProcess()">
                  Ver tutorial
                </button>
            </div>

          </div>

          
          
          <div class="chat">
            
            <div class="messages" id="chat">
                <div *ngFor="let message of insertMessage" class="message">
        
                    <!-- Adicione a animação de digitação se a propriedade isTyping estiver definida e for verdadeira -->
                    <div *ngIf="message.isTyping" >
                        <div class="typing typing-1"></div>
                        <div class="typing typing-2"></div>
                        <div class="typing typing-3"></div>
                    </div>
    
                    <img *ngIf="message.showLogo " class="logo " ngClass="message.imagem_path ? logo-action : logo-no" src="../../assets/5f20b824-4ec7-4fc8-90ab-374555cc76db.jpeg" alt="">
        
                    <div class="stark" >
                        <img src="{{ message.imagem_path }}" alt="">
                    </div>
                    
                    <div class="text" *ngIf="message.texto && !message.isTyping">
                        {{ message.texto }}
                    </div>


                </div>
            </div>
        </div>


        
        
       
        
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>



 

</div>


